<section id="menu">
    <div id="our-menu-container">
        <h2 id="our-menu-h2">OUR MENU</h2>

    <div id="our-menu">
        <div id="our-menu-1">
            <img class="our-menu-img" src="./../../../assets/img/1_hero/PNG/r1.png" alt="">
            <div>
            <h3>Tonkusa Ramen</h3>
            <table class="our-menu-table">
                <tbody><tr>
                    <td id="td-menu-1.1" class="td-menu">CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="td-menu-2.1" class="td-menu">BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td id="td-menu-3.1" class="td-menu">SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </tbody></table>
        </div>
        </div>
        <div id="our-menu-2">
            <img class="our-menu-img-2" src="./../../../assets/img/1_hero/PNG/r2.png" alt="">
            <div>
            <h3>Spicy Miso Ramen</h3>
            <table class="our-menu-table">
                <tbody><tr>
                    <td id="td-menu-1.2" class="td-menu">CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="td-menu-2.2" class="td-menu">BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td id="td-menu-3.2" class="td-menu">SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </tbody></table>
        </div>
        </div>
        <div id="our-menu-3">
            <img class="our-menu-img" src="./../../../assets/img/1_hero/PNG/r3.png" alt="">
            <div>
            <h3>Shio Ramen</h3>
            <table class="our-menu-table">
                <tbody><tr>
                    <td id="td-menu-1.3" class="td-menu">CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="td-menu-2.3" class="td-menu">BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td id="td-menu-3.3" class="td-menu">SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </tbody></table>
        </div>
        </div>
    </div>  
    </div>
</section>
