@import './../../../../styles.scss';

nav {
    @include dFlex($jc: space-between);
    margin: 50px 100px 0px 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    >img {
        width: 64px;
        height: 64px;
    }
    >div {
        width: 350px;
        @include dFlex($g: 16px);
        >a {
            &:hover {
                color: red;
            }
        }
    }
}



.menuLinks {
    margin-right: 100px;
    >a {
        text-decoration: none;
        @include fontColorStyling();
        display: flex;
        align-items: center;
        padding-right: 10px;
    }
}

.phone_btn {
    @include borderStyling(solid);
    display: flex;
    align-items: center;
    height: 30px;
    background-color: $dark_red;
    padding: 10px 15px;
    &:hover {
        background-color: red;
        cursor: pointer;
    }
    >a {
        text-decoration: none;
        @include fontColorStyling();
        margin-left: 5px;
    }
    >img {
        width: 28px;
        height: 28px;
    }
}