<section id="how_to_order">
<div id="how-to-order">
<div id="how-to-order-headline"> 
    <h2 id="how_to_order_h2">HOW TO ORDER</h2>
</div>

<div id="how-to-order-container">
    <div class="how-to-order-imgs-span">
        <img src="./../../../assets/img/1_hero/JPG/bowl_icon.jpg" alt="">
    <div class="how-to-order-span">
        <span id="how-to-order-span-menu-1">PICK<br>YOUR NODDLE</span>
    </div>
    </div>
    <div class="how-to-order-imgs-span">
        <img src="./../../../assets/img/1_hero/PNG/broth_icon.png" alt="">
    <div class="how-to-order-span">
        <span id="how-to-order-span-menu-2">PICK<br>YOUR BROTH</span>
    </div>
    </div>
    <div class="how-to-order-imgs-span">
        <img src="./../../../assets/img/1_hero/JPG/eggs_icon.jpg" alt="">
    <div class="how-to-order-span">
        <span id="how-to-order-span-menu-3">ADD YOUR<br>TOPPINGS</span>
    </div>
    </div>   
</div>
</div>
</section>
